.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr 60px;
  grid-template-areas:
    'test-header'
    'main'
    'footer';
  /* min-height: 700px; */
  min-height: 100vh;
}

.TestHeader {
  grid-area: test-header;
  position: fixed;
  width: 100vw;
  background-color: white;
  padding-bottom: 20px;
  border-bottom: solid 2px black;
  box-sizing: border-box;
}

.Header {
  margin-left: 0;
  background-color: #202829;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
}

.NavBar {
  grid-area: navbar;
  border: solid 2px greenyellow;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Article {
  padding-left: 10px;
  padding-right: 10px;
}

.main {
  grid-area: main;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  /* padding-top: 30px; */
}

.ArticleHeader {
  padding-left: 10px;
}

.Footer {
  grid-area: footer;
  border-top: solid 2px rgb(204, 204, 21);
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.DeleteButton {
  margin-bottom: 10px;
}

.Users {
  grid-area: users;
  /* border: solid 2px #11ff25; */
  /* height: 15vh; */
  /* min-height: 58px; */
  box-sizing: border-box;
}

.ArticleListCard {
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px;
  transition: background-color 0.2s ease;
  padding: 15px;
  max-width: 1000px;
  text-decoration: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  background-color: #ffffff;
}

.ArticleListCard:hover {
  background-color: #ebebeb;
}

.ArticleListCard:visited {
  text-decoration: none;
}

.ArticleListCard a {
  text-decoration: none;
}

.NavMenu a {
  color: white;
  text-decoration: none;
}

.NavMenu a:hover {
  text-decoration: underline;
  color: #ebebeb;
}

.CommentCard {
  border-top: 2px solid rgb(226, 226, 63);
  padding: 3px;
}

.CommentAdder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.FailedRequest {
  color: red;
}

.CommentInput {
  width: 80vw;
  max-width: 500px;
  height: 70px;
  font: inherit;
}

img {
  max-width: 100vw;
}

img.sad-cat {
  max-width: 90%;
}

.ErrorHandler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

/* EVERYTHING FOR THE BURGER MENU */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 34px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #838488;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #d4af0a;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100vh;
}

/* General sidebar styles */
.bm-menu {
  background: #686869;
  padding: 0 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0;
  max-height: 75vh;
  /* box-sizing: border-box; */
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
  .App {
    grid-template-rows: 150px 1fr 60px;
  }
  .Header {
    height: 65px;
  }
  .Users {
    height: 15px;
    /*THIS NEEDS FIXING*/
  }
  .bm-burger-button {
    /* width: 36px; */
    /* height: 30px; */
    left: 20px;
    top: 18px;
  }
}
